<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="app">
    <input type="text" v-model="search" placeholder="卡号"/>
    <ul>
        <li v-for="item in searchList":key="item.id">
            {{item.cardId}}-------{{item.money}}--<button @click="del(item.id)">删除</button>
        </li>
    </ul>
    <input type="text" v-model="addForm.id" placeholder="id"/><br/>
    <input type="text" v-model="addForm.cardId" placeholder="cardId"/><br/>
    <input type="text" v-model="addForm.pwd" placeholder="pwd"/><br/>
    <input type="text" v-model="addForm.money" placeholder="money"/><br/>
    <button @click="add">添加</button>



</div>
<script src="js/vue.js"></script>
<script type="text/javascript">
    var vm=new Vue({
        el:"#app",
        data:{
            search:'',
            list:[
                {id:1,cardId:"6225880287860549",pwd:"909090",money:"10000"},
                {id:2,cardId:"6225880287862345",pwd:"909090",money:"10000"},
                {id:3,cardId:"6225880287861234",pwd:"909090",money:"10000"},
                {id:4,cardId:"6225880287863900",pwd:"909090",money:"10000"},
                {id:5,cardId:"6225880287866299",pwd:"909090",money:"10000"}
            ],
            addForm:{
              id:'',
              cardId:'',
              pwd:'',
              money:''
            }
        },
        computed:{
            searchList:function(){
                var that=this;
                return this.list.filter(function(item){
                    return item.cardId.indexOf(that.search)>=0
                })
            }
        },
        methods:{
            del:function(id){
                for(var i=0;i<this.list.length;i++){
                  if(this.list[i].id==id){
                      this.list.splice(i,1);
                      break;
                  }
                }
            },
            add:function(){
                var obj= {...this.addForm};
                this.list.push(obj);

            }
        }
    })
</script>
</body>
</html>